# **Homework**: Data talks club data engineering zoomcamp Data loading workshop

Hello folks, let's practice what we learned - Loading data with the best practices of data engineering.

Here are the exercises we will do

# 1. Use a generator

Remember the concept of generator? Let's practice using them to futher our understanding of how they work.

Let's define a generator and then run it as practice.

**Answer the following questions:**

- **Question 1: What is the sum of the outputs of the generator for limit = 5?**
- **Question 2: What is the 13th number yielded**

I suggest practicing these questions without GPT as the purpose is to further your learning.

In [10]:
def square_root_generator(limit):
    n = 1
    while n <= limit:
        yield n ** 0.5
        n += 1

# Example usage:
limit = 13
generator = square_root_generator(limit)
s = 0

for sqrt_value in generator:
    print("sqrt is ", sqrt_value)
    s += sqrt_value
    print("sum is ", s)

sqrt is  1.0
sum is  1.0
sqrt is  1.4142135623730951
sum is  2.414213562373095
sqrt is  1.7320508075688772
sum is  4.146264369941973
sqrt is  2.0
sum is  6.146264369941973
sqrt is  2.23606797749979
sum is  8.382332347441762
sqrt is  2.449489742783178
sum is  10.83182209022494
sqrt is  2.6457513110645907
sum is  13.47757340128953
sqrt is  2.8284271247461903
sum is  16.30600052603572
sqrt is  3.0
sum is  19.30600052603572
sqrt is  3.1622776601683795
sum is  22.4682781862041
sqrt is  3.3166247903554
sum is  25.7849029765595
sqrt is  3.4641016151377544
sum is  29.249004591697254
sqrt is  3.605551275463989
sum is  32.854555867161245

# 2. Append a generator to a table with existing data


Below you have 2 generators. You will be tasked to load them to duckdb and answer some questions from the data

1. Load the first generator and calculate the sum of ages of all people. Make sure to only load it once.
2. Append the second generator to the same table as the first.
3. **After correctly appending the data, calculate the sum of all ages of people.**

In [12]:
def people_1():
    for i in range(1, 6):
        yield {"ID": i, "Name": f"Person_{i}", "Age": 25 + i, "City": "City_A"}

for person in people_1():
    print(person)


def people_2():
    for i in range(3, 9):
        yield {"ID": i, "Name": f"Person_{i}", "Age": 30 + i, "City": "City_B", "Occupation": f"Job_{i}"}


for person in people_2():
    print(person)

{'ID': 1, 'Name': 'Person_1', 'Age': 26, 'City': 'City_A'}
{'ID': 2, 'Name': 'Person_2', 'Age': 27, 'City': 'City_A'}
{'ID': 3, 'Name': 'Person_3', 'Age': 28, 'City': 'City_A'}
{'ID': 4, 'Name': 'Person_4', 'Age': 29, 'City': 'City_A'}
{'ID': 5, 'Name': 'Person_5', 'Age': 30, 'City': 'City_A'}
{'ID': 3, 'Name': 'Person_3', 'Age': 33, 'City': 'City_B', 'Occupation': 'Job_3'}
{'ID': 4, 'Name': 'Person_4', 'Age': 34, 'City': 'City_B', 'Occupation': 'Job_4'}
{'ID': 5, 'Name': 'Person_5', 'Age': 35, 'City': 'City_B', 'Occupation': 'Job_5'}
{'ID': 6, 'Name': 'Person_6', 'Age': 36, 'City': 'City_B', 'Occupation': 'Job_6'}
{'ID': 7, 'Name': 'Person_7', 'Age': 37, 'City': 'City_B', 'Occupation': 'Job_7'}
{'ID': 8, 'Name': 'Person_8', 'Age': 38, 'City': 'City_B', 'Occupation': 'Job_8'}

In [15]:
#pip install dlt[duckdb]

Collecting dlt[duckdb]
  Using cached dlt-0.4.4-py3-none-any.whl (540 kB)
Collecting pytz>=2022.6
  Downloading pytz-2024.1-py2.py3-none-any.whl (505 kB)
     |████████████████████████████████| 505 kB 14.0 MB/s eta 0:00:01
Collecting jsonpath-ng>=1.5.3
  Using cached jsonpath_ng-1.6.1-py3-none-any.whl (29 kB)
Requirement already satisfied: packaging>=21.1 in /home/belaz/.local/lib/python3.8/site-packages (from dlt[duckdb]) (23.2)
Collecting click>=7.1
  Downloading click-8.1.7-py3-none-any.whl (97 kB)
     |████████████████████████████████| 97 kB 5.0 MB/s  eta 0:00:01
Requirement already satisfied: pendulum>=2.1.2 in /home/belaz/.local/lib/python3.8/site-packages (from dlt[duckdb]) (3.0.0)
Collecting setuptools>=65.6.0
  Downloading setuptools-69.1.0-py3-none-any.whl (819 kB)
     |████████████████████████████████| 819 kB 45.5 MB/s eta 0:00:01
Collecting gitpython>=3.1.29
  Downloading GitPython-3.1.42-py3-none-any.whl (195 kB)
     |████████████████████████████████| 195 kB 74.1 MB/s eta 0:00:01
Collecting makefun>=1.15.0
  Using cached makefun-1.15.2-py2.py3-none-any.whl (22 kB)
Collecting tomlkit>=0.11.3
  Using cached tomlkit-0.12.3-py3-none-any.whl (37 kB)
Collecting requests>=2.26.0
  Downloading requests-2.31.0-py3-none-any.whl (62 kB)
     |████████████████████████████████| 62 kB 2.0 MB/s  eta 0:00:01
Collecting humanize>=4.4.0
  Using cached humanize-4.9.0-py3-none-any.whl (126 kB)
Collecting simplejson>=3.17.5
  Downloading simplejson-3.19.2-cp38-cp38-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (136 kB)
     |████████████████████████████████| 136 kB 42.6 MB/s eta 0:00:01
Collecting giturlparse>=0.10.0
  Using cached giturlparse-0.12.0-py2.py3-none-any.whl (15 kB)
Collecting SQLAlchemy>=1.4.0
  Downloading SQLAlchemy-2.0.27-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (3.1 MB)
     |████████████████████████████████| 3.1 MB 65.6 MB/s eta 0:00:01
Collecting semver>=2.13.0
  Downloading semver-3.0.2-py3-none-any.whl (17 kB)
Collecting tenacity>=8.0.2
  Downloading tenacity-8.2.3-py3-none-any.whl (24 kB)
Collecting astunparse>=1.6.3
  Using cached astunparse-1.6.3-py2.py3-none-any.whl (12 kB)
Collecting requirements-parser>=0.5.0
  Using cached requirements_parser-0.5.0-py3-none-any.whl (18 kB)
Requirement already satisfied: typing-extensions>=4.0.0 in /home/belaz/.local/lib/python3.8/site-packages (from dlt[duckdb]) (4.9.0)
Collecting fsspec>=2022.4.0
  Downloading fsspec-2024.2.0-py3-none-any.whl (170 kB)
     |████████████████████████████████| 170 kB 47.9 MB/s eta 0:00:01
Collecting hexbytes>=0.2.2
  Using cached hexbytes-1.0.0-py3-none-any.whl (5.9 kB)
Requirement already satisfied: tzdata>=2022.1 in /home/belaz/.local/lib/python3.8/site-packages (from dlt[duckdb]) (2023.4)
Collecting pathvalidate>=2.5.2
  Using cached pathvalidate-3.2.0-py3-none-any.whl (23 kB)
Collecting PyYAML>=5.4.1
  Downloading PyYAML-6.0.1-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (736 kB)
     |████████████████████████████████| 736 kB 52.5 MB/s eta 0:00:01
Collecting orjson<=3.9.10,>=3.6.7; platform_python_implementation != "PyPy"
  Downloading orjson-3.9.10-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (138 kB)
     |████████████████████████████████| 138 kB 46.4 MB/s eta 0:00:01
Collecting duckdb<0.10.0,>=0.6.1; extra == "duckdb" or extra == "motherduck"
  Downloading duckdb-0.9.2-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (16.5 MB)
     |████████████████████████████████| 16.5 MB 31.9 MB/s eta 0:00:01
Collecting ply
  Downloading ply-3.11-py2.py3-none-any.whl (49 kB)
     |████████████████████████████████| 49 kB 7.9 MB/s  eta 0:00:01
Requirement already satisfied: time-machine>=2.6.0; implementation_name != "pypy" in /home/belaz/.local/lib/python3.8/site-packages (from pendulum>=2.1.2->dlt[duckdb]) (2.13.0)
Requirement already satisfied: python-dateutil>=2.6 in /home/belaz/.local/lib/python3.8/site-packages (from pendulum>=2.1.2->dlt[duckdb]) (2.8.2)
Requirement already satisfied: importlib-resources>=5.9.0; python_version < "3.9" in /home/belaz/.local/lib/python3.8/site-packages (from pendulum>=2.1.2->dlt[duckdb]) (6.1.1)
Requirement already satisfied: backports.zoneinfo>=0.2.1; python_version < "3.9" in /home/belaz/.local/lib/python3.8/site-packages (from pendulum>=2.1.2->dlt[duckdb]) (0.2.1)
Collecting gitdb<5,>=4.0.1
  Using cached gitdb-4.0.11-py3-none-any.whl (62 kB)
Requirement already satisfied: certifi>=2017.4.17 in /usr/lib/python3/dist-packages (from requests>=2.26.0->dlt[duckdb]) (2019.11.28)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/lib/python3/dist-packages (from requests>=2.26.0->dlt[duckdb]) (1.25.8)
Collecting charset-normalizer<4,>=2
  Downloading charset_normalizer-3.3.2-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (141 kB)
     |████████████████████████████████| 141 kB 38.0 MB/s eta 0:00:01
Requirement already satisfied: idna<4,>=2.5 in /usr/lib/python3/dist-packages (from requests>=2.26.0->dlt[duckdb]) (2.8)
Collecting greenlet!=0.4.17; platform_machine == "aarch64" or (platform_machine == "ppc64le" or (platform_machine == "x86_64" or (platform_machine == "amd64" or (platform_machine == "AMD64" or (platform_machine == "win32" or platform_machine == "WIN32")))))
  Downloading greenlet-3.0.3-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (667 kB)
     |████████████████████████████████| 667 kB 46.5 MB/s eta 0:00:01
Requirement already satisfied: six<2.0,>=1.6.1 in /usr/lib/python3/dist-packages (from astunparse>=1.6.3->dlt[duckdb]) (1.14.0)
Requirement already satisfied: wheel<1.0,>=0.23.0 in /usr/lib/python3/dist-packages (from astunparse>=1.6.3->dlt[duckdb]) (0.34.2)
Collecting types-setuptools>=57.0.0
  Downloading types_setuptools-69.1.0.20240217-py3-none-any.whl (51 kB)
     |████████████████████████████████| 51 kB 754 kB/s  eta 0:00:01
Requirement already satisfied: zipp>=3.1.0; python_version < "3.10" in /home/belaz/.local/lib/python3.8/site-packages (from importlib-resources>=5.9.0; python_version < "3.9"->pendulum>=2.1.2->dlt[duckdb]) (3.17.0)
Collecting smmap<6,>=3.0.1
  Using cached smmap-5.0.1-py3-none-any.whl (24 kB)
ERROR: launchpadlib 1.10.13 requires testresources, which is not installed.
Installing collected packages: pytz, ply, jsonpath-ng, click, setuptools, smmap, gitdb, gitpython, makefun, tomlkit, charset-normalizer, requests, humanize, simplejson, giturlparse, greenlet, SQLAlchemy, semver, tenacity, astunparse, types-setuptools, requirements-parser, fsspec, hexbytes, pathvalidate, PyYAML, orjson, duckdb, dlt
Successfully installed PyYAML-6.0.1 SQLAlchemy-2.0.27 astunparse-1.6.3 charset-normalizer-3.3.2 click-8.1.7 dlt-0.4.4 duckdb-0.9.2 fsspec-2024.2.0 gitdb-4.0.11 gitpython-3.1.42 giturlparse-0.12.0 greenlet-3.0.3 hexbytes-1.0.0 humanize-4.9.0 jsonpath-ng-1.6.1 makefun-1.15.2 orjson-3.9.10 pathvalidate-3.2.0 ply-3.11 pytz-2024.1 requests-2.31.0 requirements-parser-0.5.0 semver-3.0.2 setuptools-69.1.0 simplejson-3.19.2 smmap-5.0.1 tenacity-8.2.3 tomlkit-0.12.3 types-setuptools-69.1.0.20240217
Note: you may need to restart the kernel to use updated packages.

In [16]:
import dlt
import duckdb

In [18]:
# define the connection to load data
pipeline=dlt.pipeline(destination='duckdb', dataset_name='people_1_2')

In [23]:
def people_1():
    for i in range(1, 6):
        yield {"ID": i, "Name": f"Person_{i}", "Age": 25 + i, "City": "City_A"}

for person in people_1():
    print(person)
    # I have done this ingestion below one time!
    #data = [person]
    #info=pipeline.run(data, table_name="people_table", write_disposition="append", primary_key='ID')

{'ID': 1, 'Name': 'Person_1', 'Age': 26, 'City': 'City_A'}

{'ID': 2, 'Name': 'Person_2', 'Age': 27, 'City': 'City_A'}
{'ID': 3, 'Name': 'Person_3', 'Age': 28, 'City': 'City_A'}
{'ID': 4, 'Name': 'Person_4', 'Age': 29, 'City': 'City_A'}
{'ID': 5, 'Name': 'Person_5', 'Age': 30, 'City': 'City_A'}

In [25]:
# show the outcome
conn = duckdb.connect(f"{pipeline.pipeline_name}.duckdb")

In [40]:
# let's see the tables
conn.sql(f"SET search_path = '{pipeline.dataset_name}'")
print('Loaded tables: ')
display(conn.sql("show tables"))

Loaded tables:

┌─────────────────────┐
│        name         │
│       varchar       │
├─────────────────────┤
│ _dlt_loads          │
│ _dlt_pipeline_state │
│ _dlt_version        │
│ people_merge        │
│ people_table        │
└─────────────────────┘

In [31]:
#pip install numpy

Collecting numpy
  Downloading numpy-1.24.4-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (17.3 MB)
     |████████████████████████████████| 17.3 MB 11.9 MB/s eta 0:00:01    |███                             | 1.6 MB 11.9 MB/s eta 0:00:02
Installing collected packages: numpy
Successfully installed numpy-1.24.4
Note: you may need to restart the kernel to use updated packages.

In [32]:
#pip install pandas

Collecting pandas
  Downloading pandas-2.0.3-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (12.4 MB)
     |████████████████████████████████| 12.4 MB 13.8 MB/s eta 0:00:01
Requirement already satisfied: pytz>=2020.1 in /home/belaz/.local/lib/python3.8/site-packages (from pandas) (2024.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/belaz/.local/lib/python3.8/site-packages (from pandas) (2.8.2)
Requirement already satisfied: tzdata>=2022.1 in /home/belaz/.local/lib/python3.8/site-packages (from pandas) (2023.4)
Requirement already satisfied: numpy>=1.20.3; python_version < "3.10" in /home/belaz/.local/lib/python3.8/site-packages (from pandas) (1.24.4)
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.8.2->pandas) (1.14.0)
Installing collected packages: pandas
Successfully installed pandas-2.0.3
Note: you may need to restart the kernel to use updated packages.

In [33]:
import numpy as np
import pandas as pd

In [37]:
# print all
people_sql = conn.sql("SELECT * FROM people_table").df()
display(people_sql)

    id      name  age    city        _dlt_load_id         _dlt_id occupation
0    1  Person_1   26  City_A  1708285309.7502055  LeO88/8JsLmloA       None
1    2  Person_2   27  City_A   1708285310.808763  h0HzEdP/MQ/iRg       None
2    3  Person_3   28  City_A  1708285311.6465044  NDbbDrG8rEIP4Q       None
3    4  Person_4   29  City_A  1708285312.4802258  i5o78xobP7nBiw       None
4    5  Person_5   30  City_A  1708285313.3102412  xuG4wVFa3uYHRA       None
5    3  Person_3   33  City_B   1708287223.415842  +bI084lXrxy6rg      Job_3
6    4  Person_4   34  City_B  1708287224.0749412  zgI6K65iZYnu8g      Job_4
7    5  Person_5   35  City_B  1708287224.6665814  KRS+PKHYPM4dNA      Job_5
8    6  Person_6   36  City_B  1708287225.2583673  TfEa+qCH+++v7Q      Job_6
9    7  Person_7   37  City_B   1708287225.848991  FBrbWBshrMErwg      Job_7
10   8  Person_8   38  City_B   1708287226.441351  clP9/iNtRMT2zA      Job_8

In [35]:
def people_2():
    for i in range(3, 9):
        yield {"ID": i, "Name": f"Person_{i}", "Age": 30 + i, "City": "City_B", "Occupation": f"Job_{i}"}


for person in people_2():
    print(person)

    # I have done this ingestion below one time!
    #data = [person]
    #info=pipeline.run(data, table_name="people_table", write_disposition="append", primary_key='ID')

{'ID': 3, 'Name': 'Person_3', 'Age': 33, 'City': 'City_B', 'Occupation': 'Job_3'}
{'ID': 4, 'Name': 'Person_4', 'Age': 34, 'City': 'City_B', 'Occupation': 'Job_4'}
{'ID': 5, 'Name': 'Person_5', 'Age': 35, 'City': 'City_B', 'Occupation': 'Job_5'}
{'ID': 6, 'Name': 'Person_6', 'Age': 36, 'City': 'City_B', 'Occupation': 'Job_6'}
{'ID': 7, 'Name': 'Person_7', 'Age': 37, 'City': 'City_B', 'Occupation': 'Job_7'}
{'ID': 8, 'Name': 'Person_8', 'Age': 38, 'City': 'City_B', 'Occupation': 'Job_8'}

In [38]:
# print sum age
people_sql = conn.sql("SELECT sum(age) FROM people_table").df()
display(people_sql)

   sum(age)
0     353.0

# 3. Merge a generator

Re-use the generators from Exercise 2.

A table's primary key needs to be created from the start, so load your data to a new table with primary key ID.

Load your first generator first, and then load the second one with merge. Since they have overlapping IDs, some of the records from the first load should be replaced by the ones from the second load.

After loading, you should have a total of 8 records, and ID 3 should have age 33.

Question: **Calculate the sum of ages of all the people loaded as described above.**

In [39]:
def people_1():
    for i in range(1, 6):
        yield {"ID": i, "Name": f"Person_{i}", "Age": 25 + i, "City": "City_A"}

for person in people_1():
    print(person)
    # I have done this ingestion below one time!
    #data = [person]
    #info=pipeline.run(data, table_name="people_merge", write_disposition="merge", primary_key='ID')

{'ID': 1, 'Name': 'Person_1', 'Age': 26, 'City': 'City_A'}
{'ID': 2, 'Name': 'Person_2', 'Age': 27, 'City': 'City_A'}
{'ID': 3, 'Name': 'Person_3', 'Age': 28, 'City': 'City_A'}
{'ID': 4, 'Name': 'Person_4', 'Age': 29, 'City': 'City_A'}
{'ID': 5, 'Name': 'Person_5', 'Age': 30, 'City': 'City_A'}

In [42]:
def people_2():
    for i in range(3, 9):
        yield {"ID": i, "Name": f"Person_{i}", "Age": 30 + i, "City": "City_B", "Occupation": f"Job_{i}"}


for person in people_2():
    print(person)

    # I have done this ingestion below one time!
    #data = [person]
    #info=pipeline.run(data, table_name="people_merge", write_disposition="merge", primary_key='ID')

{'ID': 3, 'Name': 'Person_3', 'Age': 33, 'City': 'City_B', 'Occupation': 'Job_3'}
{'ID': 4, 'Name': 'Person_4', 'Age': 34, 'City': 'City_B', 'Occupation': 'Job_4'}
{'ID': 5, 'Name': 'Person_5', 'Age': 35, 'City': 'City_B', 'Occupation': 'Job_5'}
{'ID': 6, 'Name': 'Person_6', 'Age': 36, 'City': 'City_B', 'Occupation': 'Job_6'}
{'ID': 7, 'Name': 'Person_7', 'Age': 37, 'City': 'City_B', 'Occupation': 'Job_7'}
{'ID': 8, 'Name': 'Person_8', 'Age': 38, 'City': 'City_B', 'Occupation': 'Job_8'}

In [44]:
# print all
people_sql = conn.sql("SELECT * FROM people_merge").df()
display(people_sql)

   id      name  age    city        _dlt_load_id         _dlt_id occupation
0   1  Person_1   26  City_A   1708287700.950246  rE6oOuAX4In8ew       None
1   2  Person_2   27  City_A  1708287701.7903838  udonU1Qe7+p7Dw       None
2   3  Person_3   33  City_B  1708287819.5557678  XRH9ziipXR5Fgg      Job_3
3   4  Person_4   34  City_B  1708287820.4073668  7zVmyKApOfgbsA      Job_4
4   5  Person_5   35  City_B  1708287821.1766348  ZHGuUjozc8LEyA      Job_5
5   6  Person_6   36  City_B  1708287821.9459782  YE5uJxF3M/DdYw      Job_6
6   7  Person_7   37  City_B  1708287822.7125108  xTtfcsW2gvisCQ      Job_7
7   8  Person_8   38  City_B   1708287823.483286  8P+G9GcOVpxYVA      Job_8

In [45]:
# print sum age
people_sql = conn.sql("SELECT sum(age) FROM people_merge").df()
display(people_sql)

   sum(age)
0     266.0

# Solution: First make sure that the following modules are installed:

In [14]:
#Install the dependencies
%%capture
!pip install dlt[duckdb]

UsageError: Line magic function `%%capture` not found.

In [ ]:
# to do: homework :)

Questions? difficulties? We are here to help.
- DTC data engineering course channel: https://datatalks-club.slack.com/archives/C01FABYF2RG
- dlt's DTC cohort channel: https://dlthub-community.slack.com/archives/C06GAEX2VNX